<a href="https://colab.research.google.com/github/Aditisharma92001/Recommendation-System/blob/main/recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/IMDB_Top250Engmovies2_OMDB_Detailed.csv')
df.head()

,Unnamed: 0,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,...,tomatoConsensus,tomatoUserMeter,tomatoUserRating,tomatoUserReviews,tomatoURL,DVD,BoxOffice,Production,Website,Response
0,1,The Shawshank Redemption,1994,R,14 Oct 1994,142 min,"Crime, Drama",Frank Darabont,"Stephen King (short story ""Rita Hayworth and S...","Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/shawshank_rede...,27 Jan 1998,NaN,Columbia Pictures,NaN,True
1,2,The Godfather,1972,R,24 Mar 1972,175 min,"Crime, Drama",Francis Ford Coppola,"Mario Puzo (screenplay), Francis Ford Coppola ...","Marlon Brando, Al Pacino, James Caan, Richard ...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/godfather/,09 Oct 2001,NaN,Paramount Pictures,http://www.thegodfather.com,True
2,3,The Godfather: Part II,1974,R,20 Dec 1974,202 min,"Crime, Drama",Francis Ford Coppola,"Francis Ford Coppola (screenplay), Mario Puzo ...","Al Pacino, Robert Duvall, Diane Keaton, Robert...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/godfather_part...,24 May 2005,NaN,Paramount Pictures,http://www.thegodfather.com/,True
3,4,The Dark Knight,2008,PG-13,18 Jul 2008,152 min,"Action, Crime, Drama",Christopher Nolan,"Jonathan Nolan (screenplay), Christopher Nolan...","Christian Bale, Heath Ledger, Aaron Eckhart, M...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/the_dark_knight/,09 Dec 2008,"$533,316,061",Warner Bros. Pictures/Legendary,http://thedarkknight.warnerbros.com/,True
4,5,12 Angry Men,1957,APPROVED,01 Apr 1957,96 min,"Crime, Drama",Sidney Lumet,"Reginald Rose (story), Reginald Rose (screenplay)","Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/1000013-12_ang...,06 Mar 2001,NaN,Criterion Collection,http://www.criterion.com/films/27871-12-angry-men,True

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         250 non-null    int64
 1   Title              250 non-null    object
 2   Year               250 non-null    int64
 3   Rated              250 non-null    object
 4   Released           248 non-null    object
 5   Runtime            250 non-null    object
 6   Genre              250 non-null    object
 7   Director           250 non-null    object
 8   Writer             249 non-null    object
 9   Actors             250 non-null    object
 10  Plot               250 non-null    object
 11  Language           250 non-null    object
 12  Country            250 non-null    object
 13  Awards             245 non-null    object
 14  Poster             250 non-null    object
 15  Ratings.Source     250 non-null    object
 16  Ratings.Value      250 non-null    object
 17  Metascore          177 non-null    float64
 18  imdbRating         250 non-null    float64
 19  imdbVotes          250 non-null    object
 20  imdbID             250 non-null    object
 21  Type               250 non-null    object
 22  tomatoMeter        0 non-null      float64
 23  tomatoImage        0 non-null      float64
 24  tomatoRating       0 non-null      float64
 25  tomatoReviews      0 non-null      float64
 26  tomatoFresh        0 non-null      float64
 27  tomatoRotten       0 non-null      float64
 28  tomatoConsensus    0 non-null      float64
 29  tomatoUserMeter    0 non-null      float64
 30  tomatoUserRating   0 non-null      float64
 31  tomatoUserReviews  0 non-null      float64
 32  tomatoURL          250 non-null    object
 33  DVD                247 non-null    object
 34  BoxOffice          75 non-null     object
 35  Production         250 non-null    object
 36  Website            131 non-null    object
 37  Response           250 non-null    bool
dtypes: bool(1), float64(12), int64(2), object(23)
memory usage: 72.6+ KB

In [ ]:
df = df[['Title','Genre','Director','Actors','Plot']]
df.head()

,Title,Genre,Director,Actors,Plot
0,The Shawshank Redemption,"Crime, Drama",Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",Two imprisoned men bond over a number of years...
1,The Godfather,"Crime, Drama",Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Richard ...",The aging patriarch of an organized crime dyna...
2,The Godfather: Part II,"Crime, Drama",Francis Ford Coppola,"Al Pacino, Robert Duvall, Diane Keaton, Robert...",The early life and career of Vito Corleone in ...
3,The Dark Knight,"Action, Crime, Drama",Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",When the menace known as the Joker emerges fro...
4,12 Angry Men,"Crime, Drama",Sidney Lumet,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",A jury holdout attempts to prevent a miscarria...

In [ ]:
pip install nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [ ]:
pip install rake_nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting rake_nltk
  Downloading rake_nltk-1.0.6-py3-none-any.whl (9.1 kB)
Collecting nltk<4.0.0,>=3.6.2
  Downloading nltk-3.7-py3-none-any.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 14.5 MB/s
Collecting regex>=2021.8.3
  Downloading regex-2022.4.24-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (749 kB)
     |████████████████████████████████| 749 kB 53.6 MB/s
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk<4.0.0,>=3.6.2->rake_nltk) (1.1.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk<4.0.0,>=3.6.2->rake_nltk) (4.64.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk<4.0.0,>=3.6.2->rake_nltk) (7.1.2)
Installing collected packages: regex, nltk, rake-nltk
  Attempting uninstall: regex
    Found existing installation: regex 2019.12.20
    Uninstalling regex-2019.12.20:
      Successfully uninstalled regex-2019.12.20
  Attempting uninstall: nltk
    Found existing installation: nltk 3.2.5
    Uninstalling nltk-3.2.5:
      Successfully uninstalled nltk-3.2.5
Successfully installed nltk-3.7 rake-nltk-1.0.6 regex-2022.4.24

In [ ]:
from rake_nltk import Rake
import nltk
nltk.download('stopwords')
nltk.download('punkt')
# initializing the new column
df['Key_words'] = " "
for index, row in df.iterrows():
  plot = row['Plot']
  r = Rake()
  r.extract_keywords_from_text(plot)
  key_words_dict_scores = r.get_word_degrees()
  row['Key_words'] = list(key_words_dict_scores.keys())

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [ ]:
df.head()

,Title,Genre,Director,Actors,Plot,Key_words
0,The Shawshank Redemption,"Crime, Drama",Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",Two imprisoned men bond over a number of years...,"[two, imprisoned, men, bond, number, years, fi..."
1,The Godfather,"Crime, Drama",Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Richard ...",The aging patriarch of an organized crime dyna...,"[aging, patriarch, organized, crime, dynasty, ..."
2,The Godfather: Part II,"Crime, Drama",Francis Ford Coppola,"Al Pacino, Robert Duvall, Diane Keaton, Robert...",The early life and career of Vito Corleone in ...,"[early, life, career, vito, corleone, 1920s, n..."
3,The Dark Knight,"Action, Crime, Drama",Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",When the menace known as the Joker emerges fro...,"[menace, known, joker, emerges, mysterious, pa..."
4,12 Angry Men,"Crime, Drama",Sidney Lumet,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",A jury holdout attempts to prevent a miscarria...,"[jury, holdout, attempts, prevent, miscarriage..."

In [ ]:
for index,row in df.iterrows():
  row['Genre'] = row['Genre'].split(', ')
  row['Director'] = "".join(row['Director'].split(' '))
  row['Actors'] = [ "".join(x.split(" ")) for x in row['Actors'].split(', ')[:3] ]
df.head()
df['Director'] = df['Director'].apply(lambda x:x.split()) #converting string into list
df['tags'] = df['Genre'] + df['Director'] + df['Actors'] + df['Key_words']

In [ ]:
df.head()

,Title,Genre,Director,Actors,Plot,Key_words,tags
0,The Shawshank Redemption,"[Crime, Drama]",[FrankDarabont],"[TimRobbins, MorganFreeman, BobGunton]",Two imprisoned men bond over a number of years...,"[two, imprisoned, men, bond, number, years, fi...","[Crime, Drama, FrankDarabont, TimRobbins, Morg..."
1,The Godfather,"[Crime, Drama]",[FrancisFordCoppola],"[MarlonBrando, AlPacino, JamesCaan]",The aging patriarch of an organized crime dyna...,"[aging, patriarch, organized, crime, dynasty, ...","[Crime, Drama, FrancisFordCoppola, MarlonBrand..."
2,The Godfather: Part II,"[Crime, Drama]",[FrancisFordCoppola],"[AlPacino, RobertDuvall, DianeKeaton]",The early life and career of Vito Corleone in ...,"[early, life, career, vito, corleone, 1920s, n...","[Crime, Drama, FrancisFordCoppola, AlPacino, R..."
3,The Dark Knight,"[Action, Crime, Drama]",[ChristopherNolan],"[ChristianBale, HeathLedger, AaronEckhart]",When the menace known as the Joker emerges fro...,"[menace, known, joker, emerges, mysterious, pa...","[Action, Crime, Drama, ChristopherNolan, Chris..."
4,12 Angry Men,"[Crime, Drama]",[SidneyLumet],"[MartinBalsam, JohnFiedler, LeeJ.Cobb]",A jury holdout attempts to prevent a miscarria...,"[jury, holdout, attempts, prevent, miscarriage...","[Crime, Drama, SidneyLumet, MartinBalsam, John..."

In [ ]:
new_df = df.drop(columns=['Genre', 'Director','Key_words','Actors'])

In [ ]:
#new_df['tags'] = new_df['tags'].apply(lambda x: "".join(x))
new_df.head()

,Title,Plot,tags
0,The Shawshank Redemption,Two imprisoned men bond over a number of years...,"[Crime, Drama, FrankDarabont, TimRobbins, Morg..."
1,The Godfather,The aging patriarch of an organized crime dyna...,"[Crime, Drama, FrancisFordCoppola, MarlonBrand..."
2,The Godfather: Part II,The early life and career of Vito Corleone in ...,"[Crime, Drama, FrancisFordCoppola, AlPacino, R..."
3,The Dark Knight,When the menace known as the Joker emerges fro...,"[Action, Crime, Drama, ChristopherNolan, Chris..."
4,12 Angry Men,A jury holdout attempts to prevent a miscarria...,"[Crime, Drama, SidneyLumet, MartinBalsam, John..."

In [ ]:
new_df.drop('Plot',axis=1,inplace=True)
new_df

,Title,tags
0,The Shawshank Redemption,"[Crime, Drama, FrankDarabont, TimRobbins, Morg..."
1,The Godfather,"[Crime, Drama, FrancisFordCoppola, MarlonBrand..."
2,The Godfather: Part II,"[Crime, Drama, FrancisFordCoppola, AlPacino, R..."
3,The Dark Knight,"[Action, Crime, Drama, ChristopherNolan, Chris..."
4,12 Angry Men,"[Crime, Drama, SidneyLumet, MartinBalsam, John..."
...,...,...
245,The Lost Weekend,"[Drama, Film-Noir, BillyWilder, RayMilland, Ja..."
246,Short Term 12,"[Drama, DestinDanielCretton, BrieLarson, JohnG..."
247,His Girl Friday,"[Comedy, Drama, Romance, HowardHawks, CaryGran..."
248,The Straight Story,"[Biography, Drama, DavidLynch, SissySpacek, Ja..."
249,Slumdog Millionaire,"[Drama, DannyBoyle,LoveleenTandan, DevPatel, S..."

In [ ]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))
new_df.head()

                      Title                                               tags
0  The Shawshank Redemption  Crime Drama FrankDarabont TimRobbins MorganFre...
1             The Godfather  Crime Drama FrancisFordCoppola MarlonBrando Al...
2    The Godfather: Part II  Crime Drama FrancisFordCoppola AlPacino Robert...
3           The Dark Knight  Action Crime Drama ChristopherNolan ChristianB...
4              12 Angry Men  Crime Drama SidneyLumet MartinBalsam JohnFiedl...

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
count = CountVectorizer()
count_matrix = count.fit_transform(new_df['tags']).toarray()

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(count_matrix)

In [ ]:
def recommendations(movie):
  recommended_movies = []
  idx = new_df[new_df['Title'] == movie].index[0] 
  similar_mov = cosine_sim[idx]
  top_10_indexes = sorted(list(enumerate(similar_mov)), reverse=True, key= lambda x: x[1])[1:11]
  for i in top_10_indexes:
    print(new_df.iloc[i[0]].Title)

In [ ]:
print(recommendations('Shutter Island'))

[(34, 0.18257418583505536), (58, 0.1690308509457033), (234, 0.12909944487358055), (129, 0.12524485821702988), (33, 0.12171612389003691), (42, 0.12171612389003691), (99, 0.12171612389003691), (137, 0.1126872339638022), (185, 0.1126872339638022), (237, 0.1126872339638022)]
The Departed
Vertigo
Blood Diamond
The Sixth Sense
Rear Window
Memento
Chinatown
Gone Girl
Sleuth
The Revenant
None